{% extends 'base.html' %}
{% block content %}
<h2>Lista de Visitas</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Motivo</th>
        <th>Acciones</th>
    </tr>
    {% for visita in visitas %}
    <tr>
        <td>{{ visita.id }}</td>
        <td>{{ visita.nombre }}</td>
        <td>{{ visita.motivo }}</td>
        <td>
            <a class="btn" href="{% url 'visitas_editar' visita.id %}">Editar</a>
            <a class="btn btn-eliminar" href="{% url 'visitas_eliminar' visita.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
