{% extends 'base.html' %}
{% block title %}Registrar Visita{% endblock %}
{% block content %}
<h2>Registrar Nueva Visita</h2>
<form method="post">
    {% csrf_token %}
    <label>Nombre:</label><br>
    {{ form.nombre }}<br><br>
    <label>Motivo:</label><br>
    {{ form.motivo }}<br><br>
    <label>Fecha:</label><br>
    {{ form.fecha }}<br><br>
    <button type="submit" style="background-color:#a8d5ba; color:white; padding:8px 16px; border:none; border-radius:5px;">Registrar</button>
</form>
{% endblock %}
