<!DOCTYPE html>
<head>
    <title>Listado de Visitas</title>
</head>
<body>
    <h1>Visitas de Hoy</h1>
    <table border="1">
        <tr>
            <th>Nombre:</th>
            <th>RUT:</th>
            <th>Motivo:</th>
            <th>Fecha:</th>            
        </tr>
        {% for visita in visitas %}
        <tr>
            <td>{{visita.nombre}}</td>
            <td>{{visita.rut}}</td>
            <td>{{visita.motivo}}</td>
            <td>{{visita.fecha_de_visita}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'registrar_visita' %}">Registrar Nueva Visita</a>
</body>
</html>